@use '../settings/config' as c;

.Anchor {
    scroll-margin-top: c.rem(100);
}
.Title {
    display: flex;
    flex-direction: column;
    gap: clamp(1.25rem, 0.057rem + 5.09vw, 2.5rem);
    &--right {
        text-align: right;
    }
    &--small {
        gap: c.rem(12);
        .Title {
            &__text {
                font-size: c.rem(32);
            }
        }
    }
    &__text {
        font-size: clamp(3.25rem, 2.534rem + 3.05vw, 4rem);
        font-family: c.$base-font-redhat;
        line-height: 1;
        &__br {
            display: block;
            @media (min-width: c.$base-width-md) {
                display: inline;
            }
        }
    }
    &__ja {
        font-size: c.rem(14);
        letter-spacing: 0.08em;
    }
}
.Kv {
    &__wrap {
        position: relative;
        height: 100vh;
        @supports (-webkit-touch-callout: none) {
            height: -webkit-fill-available;
        }
    }
    &__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(100% + c.rem(40));
        transform: translate(-50%,-50%);
        z-index: -1;
        &__svg {
            width: 100%;
            opacity: 0.1;
        }
    }
    &__scroll {
        display: flex;
        gap: c.rem(16);
        position: absolute;
        bottom: c.rem(180);
        visibility: hidden;
        @media (min-width: c.$base-width-lg) {
            bottom: c.rem(40);
        }
        &__text {
            font-size: rem(14);
            font-family: c.$base-font-redhat;
            line-height: 1.3;
        }
    }
    &__catch {
        display: flex;
        flex-direction: column;
        padding-top: clamp(8.25rem, 6.938rem + 5.6vw, 9.625rem);
        gap: c.rem(32);
        visibility: hidden;
        &__img {
            width: 100%;
            max-width: c.rem(1140);
        }
        &__text {
            font-size: c.rem(14);
            letter-spacing: 0.08em;
        }
    }
    &__info {
        position: absolute;
        width: 100%;
        margin-block: auto;
        bottom: c.rem(40);
        visibility: hidden;
        @media (min-width: c.$base-width-md) {
            width: calc(100% - c.rem(20));
        }
        @media (min-width: c.$base-width-lg) {
            max-width: c.rem(530);
            right: c.rem(40);
        }
        &__item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: c.rem(16) c.rem(20);
            border: 1px solid rgba(c.$base-white, 0.1);
            border-radius: 10px;
            transition: background .26s ease;
            @media (min-width: c.$base-width-md) {
                padding: c.rem(20); 
            }
            &:hover,
            &:active {
                background: rgba(c.$base-white, 0.1);
                .Kv__info__item__icon {
                    scale: .14;
                    background: c.$base-gray;
                    &__img {
                        opacity: 0;
                    }
                }
            }
            &__title {
                margin-bottom: c.rem(12);
                font-family: c.$base-font-redhat;
                font-size: c.rem(12);
                @media (min-width: c.$base-width-md) {
                    font-size: c.rem(14);
                }
            }
            &__icon {
                display: grid;
                place-content: center;
                min-width: c.rem(60);
                height: c.rem(60);
                border: 1px solid rgba(c.$base-white, 0.3);
                border-radius: 50%;
                transition: scale .26s ease;
            }
        }
        &__contents {
            display: flex;
            flex-direction: column;
            gap: c.rem(4);
            @media (min-width: c.$base-width-md) {
                gap: c.rem(12);
                flex-direction: row;
                align-items: baseline;
            }
            &__publish {
                font-family: c.$base-font-redhat;
                font-size: c.rem(12);
            }
            &__title {
                font-size: c.rem(14);
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
            }
        }
    }
}

.About {
    &__wrap {
        padding-block: clamp(7.5rem, 5.115rem + 10.18vw, 10rem);
    }
    .Title {
        margin-bottom: clamp(5rem, 2.615rem + 10.18vw, 7.5rem);
    }
    &__items {
        @media (min-width: c.$base-width-md) {
            max-width: clamp(39.25rem, 22.476rem + 34.95vw, 55.5rem);
        }
    }
    &__item {
        padding-block: c.rem(40);

        &:first-child {
            border-top: 1px solid rgba(c.$base-white, 0.1);
        }
        border-bottom: 1px solid rgba(c.$base-white, 0.1);
    }
    &__intro {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: c.rem(30);

        @media (min-width: c.$base-width-md) {
            align-items: center;
            flex-direction: row;
        }
        &__logo {
            display: flex;
            align-items: center;
            gap: clamp(1.25rem, 0.647rem + 2.57vw, 2.5rem);
            &:after {
                content: "=";
                font-size: c.rem(24);
                color: rgba(c.$base-white, 0.6);
                font-family: c.$base-font-redhat;
            }
        }
        &__contents {
            display: flex;
            flex-direction: column;
            gap: c.rem(12);
        }
        &__text {
            display: flex;
            flex-wrap: wrap;
            font-size: c.rem(14);
            gap: clamp(0.25rem, -0.227rem + 2.04vw, 0.75rem);
        }
        &__items {
            display: flex;
            flex-wrap: wrap;
        }
        &__item {
            &:not(:last-child) {
                &:after {
                    content: "+";
                    color: rgba(c.$base-white, 0.6);
                    font-family: c.$base-font-redhat;
                    margin-inline: clamp(0.25rem, -0.227rem + 2.04vw, 0.75rem);
                }
            }
        }
    }
    .Marquee {
        margin-top: clamp(1.5rem, -3.748rem + 22.39vw, 7rem);
        margin-bottom: c.rem(120);
    }
    &__msg {
        @media (min-width: c.$base-width-lg) {
            max-width: clamp(38.313rem, -7.576rem + 66.75vw, 55.5rem);
            margin-left: auto;
        }
        &__title {
            margin-bottom: clamp(2rem, 1.523rem + 2.04vw, 2.5rem);
            font-size: clamp(1.75rem, 1.511rem + 1.02vw, 2rem);
            word-break: keep-all;
            line-height: 1.6;
            letter-spacing: 0.08em;
        }
        &__text {
            margin-bottom: clamp(3.75rem, 2.557rem + 5.09vw, 5rem);
            font-size: c.rem(14);
            letter-spacing: 0.08em;
            line-height: 2.8
        }
        .MoreBtn {
            justify-content: center;

            @media (min-width: c.$base-width-md) {
                justify-content: flex-end;
            }
        }
    }
}

.Services {
    max-width: c.rem(2040);
    margin-inline: auto;
    background: c.$base-blue;
    border-radius: c.rem(32) c.rem(32) 0 0;
    &__wrap {
        padding-block: clamp(7.5rem, 5.115rem + 10.18vw, 10rem) calc(c.rem(40) + c.rem(32));
    }
    .Title {
        margin-bottom: clamp(3.75rem, 2.557rem + 5.09vw, 5rem);
    }
    &__items  {
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(#{c.rem(335)},1fr) );
        gap: clamp(2rem, 1.523rem + 2.04vw, 2.5rem);
        margin-bottom: clamp(2.5rem, 1.307rem + 5.09vw, 3.75rem);
    }
    &__item {
        padding: c.rem(40) c.rem(20);
        border: 1px solid rgba(c.$base-white, 0.1);
        border-radius: c.rem(5);
        &__details {
            display: flex;
            flex-direction: column;
            gap: c.rem(10);
            opacity: 0.6;
            &__item {
                color: c.$base-gray;
                font-size: c.rem(14);
                line-height: 1.5;
                border-left: c.rem(2) solid c.$base-gray;
                padding-left: c.rem(17);
            }
        }
    }
    &__tmb {
        width: c.rem(290);
        margin-inline: auto;
        &__img {
            display: block;
        }
    }
    &__catch {
        margin-bottom: clamp(3.75rem, 2.557rem + 5.09vw, 5rem);
        letter-spacing: 0.08em;
        line-height: 1.5;
        @media (min-width: c.$base-width-md) {
            text-align: right;
        }
    }
    &__title {
        display: flex;
        flex-direction: column;
        margin: clamp(2rem, 0.927rem + 4.58vw, 3.125rem) 0 c.rem(40);
        padding-top: clamp(2rem, 0.927rem + 4.58vw, 3.125rem);
        border-top: 1px solid rgba(c.$base-white, 0.1);
        gap: c.rem(10);
        &__text {
            font-size: c.rem(24);
            letter-spacing: 0.08em;
            line-height: 1.6;
        }
        &__en {
            font-size: c.rem(12);
            font-family: c.$base-font-redhat;
        }
    }
    .MoreBtn {
        justify-content: center;
        margin-bottom: clamp(7.5rem, 5.115rem + 10.18vw, 10rem);
        @media (min-width: c.$base-width-md) {
            justify-content: flex-start;
        }
    }
}

.Decoration {
    position: relative;
    padding-block: c.rem(56);
    text-align: center;
    border-radius: c.rem(32) c.rem(32) 0 0;
    @media (min-width: c.$base-container) {
        boder-radius: none;
    }
    &:before,
    &:after {
        content: "";
        position: absolute;
        width: c.rem(35);
        height: c.rem(35);
        display: block;
        background: c.$base-blue;
        top: c.rem(-1);
    }
    &:before {
        left: 0;
        clip-path: path(
        "M35 0H0V35C0 15.67 15.67 0 35 0Z");
    }
    &:after {
        right: 0;
        clip-path: path("M0 0H35V35C35 15.67 19.33 0 0 0Z");
    }
}

.Works {
    max-width: c.rem(2040);
    margin-inline: auto;
    border-radius: c.rem(35) c.rem(35) 0 0;
    background: rgba(c.$base-white, 0.3);
    &__picture {
        position: fixed;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        width: c.rem(666);
        object-fit: cover;
        aspect-ratio: 16/9;
        overflow: hidden;
        visibility: hidden;
        &__wrap {
            position: relative;
            aspect-ratio: 16/9;
            overflow: hidden;
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background: rgba(c.$base-blue, 0.3);
            }
        }
        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .Title {
        margin-bottom: clamp(3.75rem, 2.557rem + 5.09vw, 5rem);
    }
    &__wrap {
        position: relative;
        padding-block: clamp(7.5rem, 5.115rem + 10.18vw, 10rem);
    }
    &__items {
        margin-bottom: c.rem(60);
        counter-reset: works 0;
    }
    &__item {
        // container-type: inline-size;
        counter-increment: works 1;
        border-bottom: 1px solid c.$base-white;
        &:first-child {
            border-top: 1px solid c.$base-white;
        }
        &__wrap {
            display: grid;
            padding-block: c.rem(20);
            gap: c.rem(20);
            transition: background .26s ease;
            @media (min-width: c.$base-width-md) {
                padding: c.rem(20);
                grid-template-columns: 160px 1fr;
            }
            @media (min-width: c.$base-width-lg) {
                grid-template-columns: 160px minmax(373px,1fr) minmax(287px,424px);
            }
            &:hover,
            &:active {
                background: rgba(c.$base-white, 0.2);
            }
        }
        &__tmb {
            &:before {
                display: block;
                margin-bottom: c.rem(12);
                content: "0"counter(works);
                font-size: c.rem(10);
                font-family: c.$base-font-redhat;
            }
            &__img {
                display: block;
                width: 100%;
                aspect-ratio: 16/9;
                object-fit: cover;
                overflow: hidden;
            }
        }
        &__info {
            @media (min-width: c.$base-width-lg) {
                margin-inline: c.rem(20);
            }
            &:before {
                display: block;
                margin-bottom: c.rem(12);
                content: "Name / Category";
                font-size: c.rem(12);
                font-family: c.$base-font-redhat;
            }
            &__title {
                margin-bottom: c.rem(12);
                font-size: c.rem(24);
                letter-spacing: 0.08em;
                line-height: 1.5;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
            }
            &__tag {
                display: flex;
                flex-wrap: wrap;
                gap: c.rem(8);
                &__item {
                    padding: c.rem(4) c.rem(8);
                    font-size: c.rem(12);
                    border: 1px solid rgba(c.$base-white, 0.3);
                }
            }
        }
        &__desc {
            @media (min-width: c.$base-width-md) {
                grid-column: 1/3;
            }
            @media (min-width: c.$base-width-lg) {
                grid-column: auto;
            }
            &:before {
                display: block;
                margin-bottom: c.rem(12);
                content: "Description";
                font-size: c.rem(12);
                font-family: c.$base-font-redhat;
            }
            &__text {
                font-size: c.rem(14);
                letter-spacing: 0.08em;
                line-height: 1.5;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4;
                overflow: hidden;
            }
        }
    }
    .MoreBtn {
        justify-content: center;

        @media (min-width: c.$base-width-md) {
            justify-content: flex-end;
        }
    }
}

.Company {
    .Marquee {
        padding-block: c.rem(40) c.rem(160);
    }
    .Title {
        margin-bottom: c.rem(60);
    }
}
.Info {
    max-width: 626px;
    margin-bottom: clamp(7.5rem, 5.115rem + 10.18vw, 10rem);
    &__items {
        margin-bottom: c.rem(60);
    }
    &__item {
        border-top: 1px solid rgba(c.$base-white, 0.1);
        &:last-child {
            border-bottom: 1px solid rgba(c.$base-white, 0.1);
        }
        &__date {
            margin-bottom: c.rem(20);
            @media (min-width:c.$base-width-md) {
                margin-bottom: 0;
            }
        }
        &__link {
            display: grid;
            grid-template-columns: 1fr c.rem(20);
            padding: c.rem(20);
            transition: background 0.26s ease;
            &:hover,
            &:active {
                background: rgba(c.$base-white, 0.1);
            }
            @media (min-width:c.$base-width-md) {
                gap: c.rem(40);
                align-items: baseline;
                grid-template-columns: auto 1fr c.rem(20);
            }
        }
        &__date {
            grid-row: 1/2;
            @media (min-width:c.$base-width-md) {
                grid-row: auto;
            }
            &__time {
                opacity: 0.6;
                font-family: c.$base-font-redhat;
            }
        }
        &__desc {
            margin-right: c.rem(20);
            grid-row: 2/2;
            @media (min-width:c.$base-width-md) {
                grid-row: auto;
            }
            &__text {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                line-height: 1.5;
                letter-spacing: 0.08em;
            }
        }
        &__icon {
            margin: auto;
            grid-row: 1/3;
            grid-column: 2/3;
            @media (min-width:c.$base-width-md) {
                grid-row: auto;
                grid-column: auto;
            }
            &__img {
                display: block;
                width: c.rem(16);
                height: c.rem(16);
            }
        }
    }
    .MoreBtn {
        justify-content: center;
        @media (min-width: c.$base-width-md) {
            justify-content: flex-start;
        }
    }
}
.Company {
    .Base {
        &__wrap {
            @media (min-width: c.$base-container) {
                display: grid;
                justify-content: space-between;
                grid-template-columns: repeat(2, 626px);
            }
        }
    }
}
.Profile {
    max-width: 626px;
    margin-bottom: clamp(14.375rem, 6.622rem + 33.08vw, 22.5rem);
    &__table {
        &__row {
            display: flex;
            flex-direction: column;
            gap: c.rem(20);
            padding-block: c.rem(20);
            border-top: 1px solid rgba(c.$base-white, 0.1);
            letter-spacing: 0.08em;
            line-height: 1.5;
            &:last-child {
                border-bottom: 1px solid rgba(c.$base-white, 0.1);
            }
            @media (min-width: c.$base-width-md) {
                flex-direction: row;
                gap: 0;
            }
        }
        &__title {
            @media (min-width: c.$base-width-md) {
                width: 182px;
            }
        }
        &__desc {
            font-family: c.$base-font-redhat;
        }
    }
}