@use '../settings/config' as c;

.SecuritySingle {
    &__wrap {
        max-width: c.rem(980);
        margin-inline: auto;
        font-size: c.rem(14);
        line-height: 1.6;
    }
    &__title {
        margin-bottom: c.rem(72);
        text-align: center;
        font-size: c.rem(24);
    }
    &__head {
        margin-bottom: c.rem(72);
    }
    &__items {
        display: flex;
        flex-direction: column;
        margin-bottom: c.rem(72);
        gap: c.rem(48);
    }
    &__btm {
        text-align: right;
    }
}