/**
*   colors
*/
$base-white: white;
$base-gray: #d9d9d9;
$base-black: black;
$base-dark: #040404;
$base-blue: #010013;

/**
*   width
*/
$base-width-sm: 375px;
$base-width-md: 768px;
$base-width-lg: 1100px;

$base-container: 1512px;
$base-arc-container: 1020px;

/**
* font
*/
$base-font-noto: 'Noto Sans JP', sans-serif;
$base-font-redhat: 'Red Hat Display', sans-serif;;

/**
* pxをremに変換
*/
$base-fontsize: 16;
@function rem($pixels) {
    @return calc($pixels / $base-fontsize * 1rem);
}

/**
* container query
*/
@mixin md {
    @container (min-width: 768px) {
      @content;
    }
}
@mixin lg {
    @container (min-width: 1100px) {
      @content;
    }
}